	:root {
    --window-bg: #c0c0c0;
    --window-bg-inactive: #dedede;
    --window-border: #000;
    --window-border-inactive: #525252;
    --shadow-light: #fff;
    --shadow-dark: #9c9c9c;
    --title-light: #fff;
    --title-dark: #737373;
    --title-color: #000;
    --title-color-inactive: #737373;
}
	.screen-env{
	background-image: url();
}
	.os-menubar{
padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid var(--window-border);
    background-color: var(--window-bg);
    box-shadow: inset 1px 1px 0 var(--shadow-light), inset -1px -1px 0 var(--shadow-dark);
	height: 20px;
	}
	.os-menubar>span {
    display: inline-block;
    margin: 0 auto;
}
	
	#nav>li>a:hover {
    background: #7793f5;
    background: -moz-linear-gradient(top, #7793f5 0%, #406df2 50%, #275af1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7793f5), color-stop(50%,#406df2), color-stop(100%,#275af1));
    border-bottom: 1px solid #1746d7;
}
.os-menubar #nav>li.selected>a {
	border-bottom: 1px solid #1746d7;
}
#nav li div div{
background: rgba(255,255,255,0.95);
    box-shadow: 0 6px 12px rgb(0 0 0 / 70%);
    border-radius: 0 0 5px 5px;
	}
	.winbox {
    border: 1px solid var(--window-border);
    background-color: var(--window-bg);
    box-shadow: inset 1px 1px 0 var(--shadow-light), inset -1px -1px 0 var(--shadow-dark);
	}
	.wb-header, .wb-icon {
    height: 20px;
    background: transparent;
	}
	.wb-title{
	display: flex;
    flex: 1;
	padding-left: 0px;
	}
	.wb-title::before,.wb-title::after{
	content: "";
	flex: 1;
	background-image: repeating-linear-gradient( var(--title-light), var(--title-dark) 2px );
    margin-left: 5px;
    margin-right: 5px;
	height: 12px;
    margin-top: 5px;
}

	div.wb-icon{
	margin-top: 2px;
	margin-left: 4px;
	}
	
	.wb-icon * {
    width: 9px;
    height: 9px;
    -webkit-filter: unset;
    -moz-filter: unset;
    filter: unset;
}
	.wb-icon span{
	    padding: 0;
	}
	.wb-close, .wb-min, .wb-max{
	border: 1px solid var(--window-border);
    background-image: linear-gradient( to bottom right, var(--shadow-dark), var(--shadow-light) );
    box-shadow: 1px 1px 0 var(--shadow-light), -1px -1px 0 var(--shadow-dark), inset 1px 1px 0 var(--window-bg), inset -1px -1px 0 var(--shadow-dark);
	}
	.window-button:active,.wb-close:active, .wb-min:active, .wb-max:active {
    background-image: linear-gradient(to bottom right, #444, #aaa);
    box-shadow: 1px 1px 0 var(--shadow-light), -1px -1px 0 var(--shadow-dark);
}
.wb-min::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 31px;
    right: 0;
    width: 9px;
    height: 1px;
    border-top: 1px solid var(--window-border);
    border-bottom: 1px solid var(--window-border);
}
	.wb-body{
	border-top:1px solid #656565;
	top: 21px;
	    border-radius: 0;
		background-color: #fff;
    border: 1px solid var(--window-border);
    box-shadow: 1px 1px 0 var(--shadow-light), -1px -1px 0 var(--shadow-dark);
    margin: 4px;
	}
	