@import url(leopard.css);

@font-face {font-family: "Corporate";src: url('fonts/138_FFF\ Corporate_8pt_st.ttf');}
@font-face {font-family: "Corporate bold";src: url('fonts/47_FFF\ Corporate\ Bold_8pt_st.ttf');}
@font-face{font-family: "Camera bold";src: url('fonts/45_FFF\ Camera\ Bold_8pt_st.ttf')}
#menu-bar{
    background: url(images/menubar.png);
    height: 21px;
    font-family: "Camera bold";
    font-size: 8px;
    color: white;
}
ul.main-menu > li {
    line-height: 21px!important;
    /*padding: 3px 4px 3px 6px!important;*/
}

.window_panel{
    border: 0;
    border-radius: 4px 4px 0px 0px;
    /*background-color: transparent;*/
    -webkit-box-shadow: 0px 8px 19px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 19px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 19px 1px rgba(0,0,0,0.75);
}
.window_panel .window_header {
    margin: 0;
    /*padding: 0;*/
    border: 0;
    border-bottom: 0!important;
    box-sizing: content-box;
}
.window_title_text {
    font-family: "Corporate bold";
    font-size: 8px!important;
    top: 0px!important;
    left: unset!important;
    right: 24px!important;
    color: white;
    text-shadow: 0 0 5px #000000;
}
.window_panel .window_header_normal,.window_panel .window_header_maximize {
    text-align: center;
    background: url(images/window/windowhead.png);
    height: 17px;
}
/*
.window_frame{
    height: calc(100% - 37px);
}
*/

.window_panel .window_footer {
    height: 19px;
}

iframe.window_frame {
    margin: 0;
    padding: 0;
    border: 0;
    height: calc(100% - 21px)!important;}

.window_panel .window_header .window_title_icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: unset;
    top: 2px;
    right: 5px;
}
.window_panel .window_header .window_function_bar {
    height: 23px;
    width: 72px;
    position: absolute;
    right: unset;
    top: 0px;
    left: 5px;
}
.window_panel .window_header .window_icon_button {
    cursor: pointer;
    float: left;
}
.window_header_minimize .window_title_text{
    text-align: right;
}
.window_panel.ui-draggable.ui-resizable.ui-draggable-disabled.ui-state-disabled.ui-resizable-disabled.no-resizable{
    box-shadow: none;
}
.window_panel .window_header .closeImg {background: url(images/buttons.gif) no-repeat;background-position: -64px;}
.window_panel .window_header .maximizeImg {background: url(images/buttons.gif) no-repeat;background-position: -48px;}
.window_panel .window_header .cascadeImg {background: url(images/buttons.gif) no-repeat;background-position: -32px;}
.window_panel .window_header .minimizeImg {background: url(images/buttons.gif) no-repeat;background-position: -16px;}
.window_panel .window_header .bookmarkImg {
    background: url(images/buttons.gif) no-repeat;
    background-position: 0;
    top: 4px;
}
.window_panel .window_header .window_icon_button {margin-right: 2px;}
ul.main-menu li ul li, li .submenu{
    color: black;
}
ul.main-menu li ul li{
    line-height: 18px!important;
    height: 17px;
}
ul.main-menu li ul li a span {
    font-size: 8px!important;
}
li.separator{
    height: 0!important;
}