html,body{height:100%;top:0;right:0;bottom:0;left:0;margin:0;padding:0;border:0}

.screen-env{
	background-image: url();
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

/* main menu styles */

.os-menubar {
    background-color: gray;
    text-align: left;
    /* width: 100%; */
    height: 20px;
    z-index: 500000000000000;
}

.os-menubar>span {
    display: inline-block;
    margin: 0 auto;
}

.os-menubar #nav {
    display: inline;
    text-align: left;
    position: relative;
    list-style-type: none;
}

.os-menubar #nav>li {
    float: left;
    padding: 0;
    position: relative;
}

.os-menubar #nav>li>a {
    color: white;
    display: block;
    padding: 0px 10px;
    position: relative;
    text-decoration: none;
    line-height: 20px;
    height: 20px;
}

.os-menubar #nav>li>a:hover {
    background-color: blue;
    color: #000
}

.os-menubar #nav>li.selected>a {
    background-color: blue;
    z-index: 2;
}

.os-menubar #nav li div div {
    background-color: #FFFFFF;
    padding: 0;
    display: none;
    font-size: 8px;
    margin: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 170px;
}

.os-menubar #nav li div {
    position: relative;
    z-index: 5000000000000000000000;
}

.os-menubar #nav li div div.wrp2 {
    width: 340px;
}

.os-menubar #nav .sep {
    left: 170px;
    border-left: 1px solid #E3E3E3;
    bottom: 0;
    height: auto;
    margin: 0;
    position: absolute;
    top: 0;
    width: 1px;
}

.os-menubar #nav li div ul {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 170px;
    float: left;
    list-style-type: none;
}

.os-menubar #nav li div ul li {
    margin: 0;
    padding: 0;
}

.os-menubar #nav li div ul li h3 {
    margin: 0 5px 4px;
    font-size: 8px;
    padding-bottom: 0;
    padding-top: 3px;
    line-height: 15px;
}

.os-menubar #nav li ul ul {
    padding: 0;
}

.os-menubar #nav li ul ul li {
    margin: 0;
    padding: 0;
}

.os-menubar #nav li ul ul li a {
    color: gray;
    display: block;
    margin-bottom: 0;
    padding: 0 10px;
    text-decoration: none;
    font-size: 8px;
    line-height: 20px;
    height: 20px;
}

.os-menubar #nav li ul ul li a:hover {
    background-color: gray;
    color: #fff;
}

.os-menubar #nav.right {
    position: absolute;
    right: 0;
    margin: 0;
}

.os-menubar #nav.right li div div {
    right: 0;
}

/*winbox*/
.winbox{transition:none}
.winbox.min{border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.winbox.min .wb-close{display:none}
.winbox.min:hover{background:red}
.winbox.min .wb-title{}
.winbox.max{width:100%!important;height:calc(100% - 20px)!important}
.winbox.max .wb-header{border-radius:0}
.wb-body{margin:0;color:#000;background:#fff;top:20px;}
.wb-header,.wb-icon{height:20px}
.winbox.min .wb-header{border-radius:0;background:none}
.wb-title{font-size:8px;text-transform:none;line-height:20px;text-align:center}
.wb-icon{float:left;direction:rtl;margin-left:8px}
.wb-icon *{height:20px;width:16px;margin-right:2px}
.wb-icon :hover{opacity:1}
.wb-full {display: none;}